# database=bietu_mc_esu
# user=bietu_mc_esu_user
# password user=esu_user_password

DATABASE_URL="mysql://bietu_mc_esu_user:esu_user_password@mysql-bietu.alwaysdata.net:3306/bietu_mc_esu"
AUTH_SECRET="fca3216de6d48324273e1a4558d52c903c775dcd08c92173961e4f6371985259"
NEXTAUTH_URL="http://localhost:3000"
